/* --- RESET / NORMALIZE --- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif;
  background: #fffdfa; /* delikatne tło */
  color: #1e1e1e;
  height: 100%;
}

/* Ustawienie naturalnych odstępów między sekcjami */
section {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* GŁÓWNE CENTROWANIE STRONY */
.app,
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* GLOBALNY KONTEJNER */
.container {
  width: 100%;
  max-width: 1100px;
  padding: 0 20px;
  margin: 0 auto;
}

/* Pozbycie się link-styles z przeglądarki */
a {
  text-decoration: none;
  color: inherit;
}

/* Zaokrąglenia i cienie w całym projekcie */
:root {
  --radius: 14px;
  --shadow: 0 12px 30px rgba(0, 0, 0, 0.08);
}
